body{
    background-image: url(https://images.unsplash.com/photo-1763085674068-e4d4bbdd4650?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
h1{
    margin-top: 40px;
    margin-bottom: 10px;
}
h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
} 
button{
    border: none;
    padding: 10px 0 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn{
    background-color: rgb(238, 53, 53);
}
#save-btn{
    background-color: green;


}